
<!DOCTYPE html>
</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting Services | RNCWW</title>
    <style>
        @font-face {
        font-family: PE;
        src: url('static/fonts/Rowdies-Bold.ttf');
        }
        body {
            font-family: Arial, sans-serif, PE;
            text-align: center;
            background-color: #12161B;
        }

        img {
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            display: block;
        }
        h1 {
            font-family: PE;
            color:white
        }
    </style>
</head>
<body>
    <img src="/static/images/PE_LOGO-1024.png" alt="PE">
    <h1>System is updating. Please Wait</h1>
</body>
</html>